
<div class="container">

<div class="row">
  <div class="col-12 " style="padding-left: 0px !important;
  padding-right: 0px !important; padding-top: 0px !important; marigin-top: -15px !important;">
      <img class="img" src="./../../assets/img/pic.jpg" class="img" alt="Responsive image;">
  </div> 

</div>

<br>
<br>



<div class="row" style="height: 100px !important;">

  <div class="col-sm-1"></div>

  <div class="col col-md-auto">
     <label class="label-size"> ISLAMABAD </label>
     
  </div>
  <div class="vertical-line"></div>

  <div class="col col-md-auto">
      <label class="label-size"> KARACHI </label>
    </div>
    <div class="vertical-line"></div>

    <div class="col col-md-auto">
        <label class="label-size"> LAHORE </label>
      </div>
      <div class="vertical-line"></div>

      <div class="col col-md-auto">
          <label class="label-size"> FAISALABAD </label>
        </div>
        <div class="vertical-line"></div>

        <div class="col col-md-auto">
            <label class="label-size"> RAWALPINDI </label>
          </div>
          <div class="vertical-line"></div>

          <div class="col col-md-auto ">
              <label class="label-size"> MULTAN </label>
            </div>
</div>

<div class="row">
    <div class="col-md-auto"></div>

  <div class="col-3">
    <h2>BOOK NEW DELIVERY</h2>
  </div>
</div>

<div class="row">
    <div class="col-md-auto"></div>

    <div class="col-3">
      <!-- <form> -->
        <div class="row ">
          <div class="">
            <input type="text" class="form-control" id="field" placeholder="Where can we pick it up?">
          </div>
        </div>
        <div class="row ">
          <div class="">
            <input type="number" class="form-control" id="mobile" placeholder="Enter weight?">
          </div>
        </div>
        
        
      <!-- </form> -->
    </div>


    <div class="col-3">
        <!-- <form> -->
          <div class="row ">
            <div class="">
              <input type="text" class="form-control" id="field" placeholder="Name">
            </div>
          </div>
          <div class="row ">
            <div class="">
              <input type="tel" class="form-control" id="mobile" placeholder="Mobile">
            </div>
          </div>

          

      </div>

      

  </div>

  <div class="row">
    <div class="col-5">
        
              <button type="submit" class="btn btn-primary" style="width:600px !important;">CREATE ORDER</button>
              
    </div>
  </div>
<br>

  <div class="row" style="position:relative;">
      <div class="col-sm-2"></div>
      <div class="col-sm-8" style="text-align: center !important;">
        <p class="para">Book your order to Pakistan with Wing Delivery Partners.<br></p>
          
         <p class="para2"> To start, simply fill out “Book New Delivery” Below in 3 Simple steps to find your.</p>
            
            <p class="para"> pickup location > Select drop off location > Select Parcel weight</p>
      </div>
      <div class="col-sm-3"></div>
    </div>
    
<hr>

<br>
<br>
<br>

<div>
    <div class="row" style="position:relative; bottom: 50px">
      <!-- <div class="col-sm-1"></div> -->
      <div class="col-sm-4 text">
          <label style="font-weight:500; font-size: 25px;">MOBILE</label>
          <!-- <img src="./../../assets/img/mobile.png" style="height:60px; width:60px; position: relative; top:60px; right: 80px;"> -->
      </div>
      <div class="col-sm-4 text" >
          <label style="font-weight:500; font-size: 25px;">RATES</label>
       </div>
       <div class="col-sm-4 text">
          <label style="font-weight:500; font-size: 25px;">DOOR TO DOOR</label>
       </div>
    </div>

    <div class="row" style="position:relative; bottom: 50px">
       <!-- <div class="col-sm-1"></div> -->
       <div class="col-sm-4 text">
       <img src="./../../assets/img/mobile.png" style="height:60px; width:60px; position: relative; top:10px; ">
      </div>

      <div class="col-sm-4 text">
          <img src="./../../assets/img/rates.png" style="height:60px; width:60px; position: relative; top:10px;">
         </div>

         <div class="col-sm-4 text">
            <img src="./../../assets/img/door.png" style="height:60px; width:60px; position: relative; top:10px; ">
           </div>
    </div>

    <div class="row" style="position:relative; bottom: 50px">
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-sm-4 text">
           <p class="description">Use your phone or tablet to book orders on the go</p>
           </div>

        <div class="col-sm-4 text">
           <p class="description">Use your phone or tablet to book orders on the go</p>
          </div>
            
           <div class="col-sm-4 text">
                  <p class="description1">Use your phone or tablet to book orders on the go</p>
              </div>
      </div>
    
    </div><br><br>

    <div>
        <div class="row">
          <!-- <div class="col-sm-1"></div> -->
          <div class="col-sm-4 text">
              <label style="font-weight:500; font-size: 25px; position: relative;">CASH ON DELIVERY</label>
              <!-- <img src="./../../assets/img/mobile.png" style="height:60px; width:60px; position: relative; top:60px; right: 80px;"> -->
          </div>
          <div class="col-sm-4 text">
              <label style="font-weight:500; font-size: 25px; position: relative;">DELIVERY TIME</label>
           </div>
           <div class="col-sm-4 text">
              <label style="font-weight:500; font-size: 25px; position: relative;">TRACKING</label>
           </div>
        </div>
  
        <div class="row">
           <!-- <div class="col-sm-1"></div> -->
           <div class="col-sm-4 text">
           <img src="./../../assets/img/cash.png" style="height:60px; width:60px; position: relative; top:10px; ">
          </div>
  
          <div class="col-sm-4 text">
              <img src="./../../assets/img/delivery.png" style="height:60px; width:60px; position: relative; top:10px; ">
             </div>
  
             <div class="col-sm-4 text">
                <img src="./../../assets/img/tracking.png" style="height:60px; width:60px; position: relative; top:10px; ">
               </div>
        </div>
  
        <div class="row">
            <!-- <div class="col-sm-1"></div> -->
            <div class="col-sm-4 text">
               <p class="description">Use your phone or tablet to book orders on the go</p>
               </div>
  
            <div class="col-sm-4 text">
               <p class="description">Use your phone or tablet to book orders on the go</p>
              </div>
                
               <div class="col-sm-4 text">
                      <p class="description1">Use your phone or tablet to book orders on the go</p>
                  </div>
          </div>
        
        </div>

        <br>
        <br>
        <br>
        

      
    
      
</div>







  